.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.db
db.sqlite3
chatgpt_tg.db
data/
.git/
.gitignore
.env
Dockerfile
docker-compose.yml
requirements.txt
README.md
LICENSE
tg-chatgpt-bot.service
# Keep fonts folder as it is needed for PDF
# Keep tg_chatgpt_bot.py (obviously)
